<link rel="stylesheet" href="~/css/site.css">
<div class="header">
    <h1>Dojo Activity Center</h1>
    <span>Welcome, @ViewBag.firstName</span>
    <a asp-controller="Home" asp-action="Logout">Logout</a>
    <a asp-controller="Home" asp-action="Success">Dashboard</a>
</div>