@model beltPlate.Models.LoginViewModel
<fieldset>
        <legend>Login</legend>
        <form asp-controller="Home" asp-action="Login" method="post">
        <p><label asp-for="logEmail">Email</label></p>
        <p><input asp-for="logEmail"/></p>
        <span asp-validation-for="logEmail"></span>
        <p><label asp-for="logPassword">Password</label></p>
        <p><input asp-for="logPassword"/></p>
        @{
                @if(ViewBag.Error != null)
                {
                        <p>@ViewBag.Error</p>
                }
        }
        <input class="btn btn-pop" type="submit" name="submit" value="Login">
        </form>
</fieldset>
