<h2>Login Registration</h2>
<link rel="stylesheet" href="~/css/site.css">

<div class="wrapper">
    @Html.Partial("./Partials/registerPartial")
    @Html.Partial("./Partials/loginPartial")
</div>
</div>